<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        @{
            string title = "Torsdagsforeningen";
            if( ViewBag.Title != null ) {
                title += ": " + ViewBag.Title;
            }
        }
        <title>@title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>

        <link href="../../Scripts/DataTables-1.9.1/media/css/demo_table_jui.css" rel="Stylesheet" type="text/css" />
        <link href="../../Scripts/DataTables-1.9.1/media/css/jquery.dataTables.css" rel="Stylesheet" type="text/css" />

        <script src="../../Scripts/DataTables-1.9.1/media/js/jquery.dataTables.min.js"></script>
        <meta name="viewport" content="width=device-width" />

        <script type="text/javascript" language="javascript">
            $(document).ready(function(){
                $('.data-table').dataTable({
                    "bJQueryUI": true,
                    "sPaginationType": "full_numbers"
                });
            });
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here.", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Members", "Index", "Members")</li>
                            <li>@Html.ActionLink("Events", "Index", "Events")</li>
                            <li>@Html.ActionLink("Util", "Index", "Util")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Terje A. Bergesen, Torsdagsforeningen</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
